<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Restful Booker API Automation">
    <test name="Regression">
         <classes>
             <class name="PostExamples.PostExamples"/>
             <class name="PutAndPatchExample.PutAndPatchExample"/>
             <class name="GetExamplex.GetMethod"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->